.close-alert {
  float: right;
  cursor: pointer;
}

.parallax-div {
  height: 500px;
  background-image: url(https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.indent {
  margin: 5% 10%;
}

.subject-img {
  height: 50%;
  width: 100%;
}

.reading {
  height: 100%;
  width: 100%;
}

table {
  border: solid 1px red;
  margin: 0 auto;
  /* border-collapse: separate; */
  /* border-spacing: 0 20px; */
}

.border-left {
  border-left: solid 1px red !important;
}

.border-top {
  border-top: solid 1px red !important;
}

.no-border-top {
  border-top: solid 1px white !important;
}

th {
  border-top: solid 1px red !important;
  border-bottom: solid 1px red;
}

footer {
  background-color: #f5f5f5;
}
